.cube {
  position: relative;
  height: 28rem;
  width: 28rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  /* margin: 10rem auto 0 auto; */
}

.single-cube {
  position: relative;
  border-radius: 2rem;
  border: 3px solid #111;
}

.cube-number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* MIX buttons */
.mix-btn {
  position: absolute;
}
.mix-btn--top-left,
.mix-btn--top-right {
  transform: translateY(-100%);
}
.mix-btn--top-left {
  top: 0;
  left: 0;
}
.mix-btn--top-right {
  top: 0;
  right: 0;
}
.mix-btn--bottom-left,
.mix-btn--bottom-right {
  transform: translateY(100%);
}
.mix-btn--bottom-left {
  bottom: 0;
  left: 0;
}
.mix-btn--bottom-right {
  bottom: 0;
  right: 0;
}

/* COLORS */
.bg-0 {
  background-color: #f4f3ee;
}
.bg-1 {
  background-color: #ff595e;
}
.bg-2 {
  background-color: #ffca3a;
}
.bg-3 {
  background-color: #8ac926;
}
.bg-4 {
  background-color: #1982c4;
}
.bg-5 {
  background-color: #6a4c93;
}
