* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
  background-color: #fff;
}

/* *********************************** */

.app {
  min-height: 100vh;
}

.controller-and-cube-container {
  position: absolute;
  width: 100vw;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* 992 PX */
@media (max-width: 62em) {
  .controller-and-cube-container {
    flex-direction: column;
  }
}

/* 560 PX */
@media (max-width: 35em) {
  .controller-and-cube-container {
    padding: 1.8rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-15 {
  opacity: 0.15;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/* COLORS */
.bg-0 {
  background-color: #ccc !important;
}
.bg-1 {
  background-color: #ff595e;
}
.bg-2 {
  background-color: #ffca3a;
}
.bg-3 {
  background-color: #8ac926;
}
.bg-4 {
  background-color: #1982c4;
}
.bg-5 {
  background-color: #6a4c93;
}
