* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

/* *********************************** */

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  position: relative;
  height: 28rem;
  width: 28rem;
  background-color: #eee;
}

.spin-btn {
  position: absolute;
}
.spin-btn.top {
  top: -4rem;
  left: 50%;
}
.spin-btn.bottom {
  bottom: -4rem;
  left: 50%;
}
.spin-btn.left {
  left: -4rem;
  top: 50%;
}
.spin-btn.right {
  right: -4rem;
  top: 50%;
}
